.box{
    color: aqua;
    background-color: blue;
    width: 150px;
    height: 150px;
    animation: box;
    animation-duration: 4s;
    position: relative;
}

/* @keyframes box {
    from{
        background-color: red;
    }
    to{
        background-color: green;
    }
    
} */

 @keyframes box {
    0%{
        background-color: black;
        color: azure;
        left: 0px;
        top: 0px;
    }
    25%{
        background-color: red;
         color: azure;
         left: 600px; 
         top: 0px;
    }
    50%{
        background-color: blue;
         color: azure;
         left: 600px; top: 600px;
    }
    75%{
        background-color: yellow;
         color: blue;
         left:0px;
         top:600px;
    }
    100%{
        background-color: greenyellow;
         color: rgb(0, 0, 0);
          left: 0px; top: 0px;

    }
    
 }